
@{
    ViewData["Title"] = "Index";
}

<main class="main overflow-hidden">

    @* <!--------- Header area start --------->
    <section class="header__area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header__main__blk">
                        <div class="header__left__blk">
                            <div class="header__logo">
                                <a href="/Index">eHMSA</a>
                            </div>
                            <div class="header__menu">
                                <ul>
                                    <li><a href="/index">home</a></li>
                                    <li class="manage-booking-link dropdown-link">
                                        <a href="void:js">Manage Booking</a>
                                        <ul class="manage-booking-dropdown">
                                            <li><a href="/allbookings">All Bookings</a></li>
                                            <li><a href="/checkin">Check In</a></li>
                                            <li><a href="/checkout">Check Out</a></li>
                                        </ul>
                                    </li>
                                    <li class="manage-booking-link dropdown-link">
                                        <a href="void:js">Manage Rooms</a>
                                        <ul class="manage-booking-dropdown">
                                            <li><a href="/allrooms">All Rooms</a></li>
                                            <li><a href="/roomtypes">Room Types</a></li>
                                            <li><a href="/addroom">Add Room</a></li>
                                            <li><a href="#">Delete Room</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/manageemployee">Manage employee</a></li>
                                    <li><a href="/manageservice">Manage service</a></li>
                                    <li><a href="#">privacy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="header__right__blk">
                            <a href="/rsgt">register</a>
                            <a href="/login">login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------- Header area end ---------> *@
    <!--------- Hero area start --------->
    <section class="hero__area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__main__blk">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="hero__slider__content">
                                        <div class="hero__subtitle">
                                            <span></span>
                                            <h4>Luxury king</h4>
                                            <span></span>
                                        </div>
                                        <div class="hero__title">
                                            <h1>vintage hurt</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="hero__slider__content">
                                        <div class="hero__subtitle">
                                            <span></span>
                                            <h4>Luxury king</h4>
                                            <span></span>
                                        </div>
                                        <div class="hero__title">
                                            <h1>vintage hurt</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="hero__slider__content">
                                        <div class="hero__subtitle">
                                            <span></span>
                                            <h4>Luxury king</h4>
                                            <span></span>
                                        </div>
                                        <div class="hero__title">
                                            <h1>vintage hurt</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--------- Hero area end --------->

</main>
<!--------- Main area end --------->
<!-- Optional JavaScript; choose one of the two! -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/popper.js"></script>

